@model WorkoutWebApplication.ViewModel.RegisterViewModel
<h2>Реєстрація</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Year"></label><br />
       @* <input asp-for="Year" />*@
        <style>
            .MakeWideHeight {
                width: 188px;
                height: 32px;
            }
        </style> 

        @Html.DropDownListFor(m => m.Year, Enumerable.Range(0, 84).
        Select(i => new SelectListItem { Text = (DateTime.Now.Year-16-i).ToString(), Value = (DateTime.Now.Year-16-i).ToString() }), 
        "Оберіть рік", new { @class = "MakeWideHeight", @required = "required" })
        <span asp-validation-for="Year"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirmed"></label><br />
        <input asp-for="PasswordConfirmed" />
        <span asp-validation-for="PasswordConfirmed"></span>
    </div>
    <div>
        <input type="submit" value="Далі" />
    </div>
</form>
